/* debug.css */
div.debug {
	background-color	: #000000;
	border				: 1px solid #ffffff;
	padding				: 8px;
	margin				: 5px;
}

div.debug .spacer {
	clear				: both;
	overflow			: hidden;
	height				: 1px;
}

#php_error {
	position			: absolute;
	top					: 10px;
	right				: 10px;
	padding-bottom		: 0;
	border				: 1px solid red;
}

.debug_close {
	float				: right;
	margin-right		: -2px;
	margin-top			: 4px;
	margin-left			: 5px;
	cursor				: pointer;
}

#php_error .debug_close {
	position			: absolute;
}

.debug div,
.debug h3,
.debug th,
.debug td {
	font-family			: Verdana, Arial, Helvetica;
	font-size			: 11px;
	color				: #ffffff;
	line-height			: 1.5em;
	font-weight			: normal;
	background-color	: transparent;
	border				: 0;
	padding				: 0;
}

.debug h3 {
	display				: inline;
	color				: #e0e0e0;
	margin-right		: 5px;
	border				: 1px solid #545454;
	padding				: 1px;
}

.debug h3 strong {
	font-weight			: bold;
}

.debug table {
	margin-top			: 5px;
	border				: 0;
	border-collapse		: collapse;
}

.debug th {
	text-align			: left;
	vertical-align		: top;
	padding-left		: 1em;
	padding-right		: 0.5em;
	color				: #ffd617;
	width				: 200px;
}

.debug td th {
	padding-left		: 2em;
}

.debug th span.numeric {
	color				: #2db5ee;
}
.debug span.size {
	color				: #84aeb0;
}

.debug .path {
	font-size			: 10px;
	color				: #858585;
	background-color	: #191919;
	margin-left			: 5px;
}

.debug em {
	font-style			: normal;
}

.debug th em {
	color				: #84aeb0;
}

.debug td span.equals {
	color				: #75e930;
}

.debug .int,
.debug .float {
	color				: #2db5ee;
}

.debug .null,
.debug .bool {
	color				: #2db5ee;
}

.debug .empty {
	color				: red;
}

.debug .debug_info {
	float				: right;
}

.debug .debug_title {
	font-size			: 15px;
	font-weight			: bold;
	border				: 1px solid #545454;
	padding				: 1px;
}

#php_error .debug_title {
	font-size			: 12px;
	border				: 1px solid #a95f10;
	color				: red;
	padding-left		: 24px;
	padding-right		: 4px;
}

#php_error .debug_trace {
	margin-bottom		: 10px;
}

.debug .debug_trace td,
.debug .debug_trace th {
	padding				: 0;
	padding-right		: 1em;
}

.debug span.function {
	color				: #e0e0e0;
}