php_value mbstring.internal_encoding "UTF-8"
php_value mbstring.func_overload "6"
php_value magic_quotes_gpc Off

RewriteEngine On

RewriteCond %{HTTP_HOST} ^zek\.si
RewriteRule ^(.*)$ http://www.zek.si/$1 [R=301,L]

RewriteRule ^(.*/)*\.svn/ / [F,L]
RewriteRule ^(cms|media|maps)($|/) - [L]
RewriteCond %{REQUEST_URI} !^/media/cache/.*
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.php [L]

FileETag None

AddType text/x-component .htc

<IfModule mod_deflate.c>
	<FilesMatch "\.(js|css)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>
