!!!
%html{:lang => "en"}

	{{> head }}

	%body.home

		{{> header }}
		
		.welcome-message
			%h1 {{{ contents }}}
					

		.projects
			{{# each collections.projects }}
			{{> project_thumbnail this }}
			{{/each }}			

		{{> footer }}

		{{> scripts}}