!!!
%html{:lang => "en"}

	{{> head }}

	%meta{property: 'og:title', content: 'ZEK crew'}

	%meta{property: 'og:description', content: "We're the ZEK crew ;)"}
	
	%meta{property: 'og:image', content: 'http://{{ site.hostname }}/assets/facebook_cover.jpg'}

	%body.home.page

		#page
			
			{{> header }}

			.welcome-message
				{{{ contents }}}	

			.projects
				{{# each collections.projects }}
				{{> project_thumbnail this }}
				{{/ each }}			

			{{> footer }}

			{{# if site.postscript }}
			.postscript
				{{ markdown site.postscript }}
			{{/ if }}

		{{> scripts }}