!!!
%html{:lang => "en"}

	{{> head }}

	%meta{property: 'og:title', content: '{{ name }} | ZEK'}
	{{#if description}}
	%meta{property: 'og:description', content: '{{ description }}'}
	{{/if}}
	{{#if cover}}
	%meta{property: 'og:image', content: 'http://static-zek.ljudje.si{{ project_image_url cover }}'}
	{{/if}}

	%body.project.page

		#page

			{{> header }}

			%section.main

				{{#if previous}}
				%a.prev-arrow{href: '/projects/{{ previous.paths.name }}', title: '{{ previous.name }}'}
					%img{src: '/assets/arrow-left.svg'}
				{{/if}}
				
				%h1 {{ name }}

				{{#if next}}
				%a.next-arrow{href: '/projects/{{ next.paths.name }}', title: '{{ next.name }}'}
					%img{src: '/assets/arrow-right.svg'}
				{{/if}}

				{{#if description }}
				.description {{{ markdown description }}}
				{{/if}}

				{{#if cover}}
				.cover
					{{#if local}}
					%img{src: '{{ project_image_url cover }}'}
					{{else}}
					{{# responsive_image cover }}
					%img.imgix-fluid{'data-src': 'http://static-zek.ljudje.si{{ src }}', width: '{{ width }}', height: '{{ height }}', src: '/assets/1by1.png'}
					{{/ responsive_image }}
					{{/if}}
				{{/if}}

				.contents {{{ contents }}}

			%section.related
				{{#if next}}
				%p.links
					%a{href: '/'} Back
					|
					Next project: 
					%a{href: '/projects/{{ next.paths.name }}'}
						{{ next.name }}
				{{/if}}

			{{> footer }}

		{{> scripts}}