!!!
%html{:lang => "en"}
	
	%head

		{{> head }}

		%title {{ name }} | ZEK

		%meta{property: 'og:title', content: '{{ name }} | ZEK'}

		{{# if description }}
		%meta{property: 'og:description', content: '{{ chain "markdown" "strip_html" description }}'}
		{{/ if }}

		{{# if cover }}
		%meta{property: 'og:image', content: 'http://{{ site.asset_host }}/{{ encode paths.name }}/{{ encode cover }}?w=1200&fm=jpg'}
		{{/ if }}

	%body.project.page

		#page

			{{> header }}

			%section.main

				{{# if previous}}
				%a.prev-arrow.prev-arrow-medium-up{href: '/projects/{{ previous.paths.name }}', title: '{{ previous.name }}'}
					%img{src: '/assets/arrow-left.svg'}
				%a.prev-arrow.prev-arrow-small{href: '/projects/{{ previous.paths.name }}', title: '{{ previous.name }}'}
					%img{src: '/assets/arrow-left-small.svg'}
				{{/ if }}
				
				%h1 {{ name }}

				{{# if next}}
				%a.next-arrow.next-arrow-medium-up{href: '/projects/{{ next.paths.name }}', title: '{{ next.name }}'}
					%img{src: '/assets/arrow-right.svg'}
				%a.next-arrow.next-arrow-small{href: '/projects/{{ next.paths.name }}', title: '{{ next.name }}'}
					%img{src: '/assets/arrow-right-small.svg'}
				{{/ if }}

				{{# if description }}
				.description {{{ markdown description }}}
				{{/ if }}

				{{# if cover}}
				.cover
					{{# responsive_image cover }}
					%img.imgix-fluid{'data-src': 'http://zek.imgix.net/{{ src }}?fm=jpg', width: '{{ width }}', height: '{{ height }}', src: '/assets/1by1.png'}
					{{/ responsive_image }}
				{{/ if }}

				.contents
					{{{ contents }}}

			{{# if false }}
			%section.share
				%h1.name
					{{ name }}
				.fb
					%a{href: '#'} facebook
				.tw
					%a{href: '#'} twitter
				.tu
					%a{href: '#'} tumblr
			{{/ if }}

			%section.related
				.clearance
					&nbsp;

				{{# if previous }}
				.prev-thumb
					%a{href: '/projects/{{ previous.paths.name }}'}
						%span.title
							%span.meta Previous project
							%span.name.equalize {{ previous.name }}
						{{# responsive_image previous previous.thumbnail }}
						.img
							.imgix-fluid{'data-src': 'http://zek.imgix.net/{{ src }}'}
						{{/ responsive_image }}
				{{ else }}
				.prev-thumb
					.none
				{{/ if }}

				{{# if next}}
				.next-thumb
					%a{href: '/projects/{{ next.paths.name }}'}
						%span.title
							%span.meta Next project
							%span.name.equalize {{ next.name }}
						{{# responsive_image next next.thumbnail }}
						.img
							.imgix-fluid{'data-src': 'http://zek.imgix.net/{{ src }}'}
						{{/ responsive_image }}
				{{ else }}
				.next-thumb
					.none
				{{/ if }}

			{{> footer }}

		{{> scripts }}