%footer
	.links
		%a.fb{href: 'https://facebook.com/ZEKcrew', title: 'fb.com/ZEKcrew'}
			%span facebook
		%a.email{href: 'mailto:gmail@zek.si', title: 'gmail@zek.si'}
			%span email
		%a.instagram{href: 'https://www.instagram.com/explore/tags/zekcrew/', title: '#zekcrew'}
			%span instagram
