%footer
	.links
		%a.fb{href: 'https://facebook.com/ZEKcrew'}
			%span facebook
		%a.email{href: 'mailto:info@zek.si'}
			%span email
		%a.instagram{href: 'https://www.instagram.com/explore/tags/zekcrew/'}
			%span instagram
