%meta{charset: "utf-8"}/
%link{href: "/assets/css/app.css", rel: "stylesheet"}/
%link{href: 'https://fonts.googleapis.com/css?family=Lato:300,700|Source+Sans+Pro:300,400,700&subset=latin,latin-ext', rel: 'stylesheet', type: 'text/css'}
%meta{content: "width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=4.0, minimal-ui", name: "viewport"}/
%meta{content: "index,follow", name: "robots"}/
%link{:href => "/assets/logo.png?3", :rel => "image_src"}/
%link{:href => "/assets/favicon/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
%link{:href => "/assets/favicon/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
%link{:href => "/assets/favicon/favicon.ico", :rel => "shortcut icon"}/
%link{:href => "/assets/favicon/manifest.json", :rel => "manifest"}/