%header
	.wrap{'data-sticky-container': true}
		%nav.sticky{'data-sticky': true, 'data-options': 'anchor: page; marginTop: 0;', style: 'width: 100%;'}
			.logo
				%a{href: '/', title: 'ZEK'}
					%img{src: '/assets/logo.svg', alt: 'ZEK'}