{{# equal this.size "small" }}

.responsive-image
	{{# responsive_image this.src }}
	.imgix-fluid.small-img{'data-src': 'http://zek.imgix.net/{{ src }}?fit=crop', 'data-local': '{{ @root.paths.name }}/{{ name }}', 'data-width': '{{ width }}', 'data-height': '{{ height }}', 'data-y-ratio': '{{ y_ratio }}', 'data-x-ratio': '{{ x_ratio}}', style: 'padding-top: calc({{ x_ratio }}%*7/12);'}
	{{/ responsive_image }}

{{ else }}

.responsive-image
	{{# responsive_image this.src }}
	.imgix-fluid{'data-src': 'http://zek.imgix.net/{{ src }}?fit=crop', 'data-local': '{{ @root.paths.name }}/{{ name }}', 'data-width': '{{ width }}', 'data-height': '{{ height }}', 'data-y-ratio': '{{ y_ratio }}', 'data-x-ratio': '{{ x_ratio}}', style: 'padding-top: {{ x_ratio }}%;'}
	{{/ responsive_image }}

{{/ equal }}