.project
	%a{href: "/projects/{{ this.paths.name }}"}
		{{# if local }}

		.project-thumbnail{style: 'background-image: url({{ project_image_url this.thumbnail }});'}
			%img.sizer{src: '/assets/1by1.png', style: 'width: 100%'}

		{{ else }}

		.project-thumbnail.imgix-fluid{'data-src': 'http://static-zek.ljudje.si{{ project_image_url this.thumbnail }}?fit=crop', style: 'padding-top: 100%'}		

		{{/ if }}

		%span.title {{ this.name }}