.project
	%a{href: "/projects/{{ this.paths.name }}"}
		.project-thumbnail
			.img-frame
				%img.imgix-fluid{'data-src': '/assets/projects/{{ encode this.paths.name }}/{{ encode this.thumbnail }}?fit=crop&fm=jpg&q=50',  src: '/assets/1by1.png'}
		%span.title {{ this.name }}