.project
	%a{href: "/projects/{{ this.paths.name }}"}
		.project-thumbnail.imgix-fluid{'data-src': 'http://zek.imgix.net/{{ encode this.paths.name }}/{{ encode this.thumbnail }}?fit=crop&fm=jpg', style: 'padding-top: 100%'}
		%span.title {{ this.name }}