:javascript
	bundle_script = document.createElement('script');
	bundle_script.type = 'text/javascript';
	bundle_script.src = '/assets/js/bundle.js';

	first_script = document.getElementsByTagName('script')[0];
	first_script.parentNode.insertBefore(bundle_script, first_script);