.contentcontent_feature {
	margin-top: -8px;
}
.contentcontent_feature h1 {
	margin-top: 15px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 44px;
	line-height: 120%;
}
.contentcontent_feature .title-picture {
	margin-bottom: 20px;
}
.trigger-filter {
	float: right;
}

footer {
	margin-top: 8px;
}

#main-body-wrap {
	z-index: 1;

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;

	background: #fff;
	transition: transform 0.3s, opacity 1s;
	transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}
#main-body-wrap.visible {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
	cursor: pointer;
	overflow: hidden;
}
.zek-darker {
	display: block;
	content: "";
	position: fixed;
	left: 0;
	top: -50px;
	height: 50px;
	width: 100%;
	background: #fff;
	z-index: 999;

	transition: transform 0.3s, opacity 1s;
	transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
}
.zek-darker .btn-close {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 12px;
	opacity: .7;
	transition: opacity .5s;
	text-align: center;
}
.zek-darker .btn-close:hover {
	opacity: 1;
}

.zek-darker .btn-close svg {
	height: 22px;
	margin-top: 3px;
}

.modal-open .zek-darker {
	transform: translateY(100%);
	box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgb(225, 225, 225);
}
#zekProjects {
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	padding-top: 50px;
	opacity: 0;
}
.modal-open #zekProjects {
	opacity: 1;
}
#zekProjects .close {
	width: 21px;
	height: 21px;
	opacity: 1;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 999;
}
#zekProjects .modal-body {
	padding: 0;
	height: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
}

#zekProjects .modal-logo {
	position: absolute;
	left: 50%;
	margin-left: -17px;
	top: 15px;
	cursor: pointer;
}


.grid {
	margin: 35px;
	margin-top: 0px;
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

.grid-item {
	cursor: pointer;
	border: 0;
	background: no-repeat center center / cover;
	height: 200px;
	float: left;
}
.grid-item img {
	opacity: 0;
	width: 1000% !important;
	height: 100% !important;
	/*display: none;*/
}
.grid-item,
.grid-sizer {
	width: 16.666666%;
	border: 12px solid #fff;
}
.grid-item--w8 {
	width: 33.33333%;
}
.grid-item--h8 {
	height: 400px;
}

@media only screen and (max-width : 767px) {
	.grid {
		margin: 3px;
	}
	.grid-sizer, .grid-item {
		border: 3px solid #fff;
	}
	.grid-sizer,
	.grid-item {
		width: 33%;
	}
	.grid-item--w4 {
		width: 66.6666%;
	}
}
@media only screen and (max-width : 480px) {
	.grid-sizer,
	.grid-item {
		width: 100%;
	}
}

.zek-pages,
.slick-slider .slick-track,
.slick-slider .slick-list {
	height: 100%;
}
.slick-slider .slick-list {
	width: 100% !important;
}
.slick-slide {
	height: 100%;
	overflow-y: scroll;
	outline: none !important;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	font-size: 20px;
	padding-bottom: 50px;
}
.slick-slide img {
	display: block;
	max-width: 100%;
	height: auto;
}
.zek-pages .project-image {
	margin-bottom: 20px;
}

.zek-pages p.no-image, .zek-pages h1, .zek-pages h2, .zek-pages h3, .zek-pages h4, .zek-pages h5, .zek-pages h6, .zek-pages ul, .zek-pages ol, .zek-pages table {
	margin-left: auto;
	margin-right: auto;
	max-width: 35em;
	color: rgb(60, 60, 60);
	font-size: 21px;
	line-height: 29px;
}

.zek-pages h1, .zek-pages h2, .zek-pages h3, .zek-pages h4, .zek-pages h5, .zek-pages h6, .zek-pages strong, .zek-pages b {
	font-weight: 400;
}


.zek-pages p, .zek-pages .embedly-responsive {
	padding-left: 80px;
	padding-right: 80px;	
}

.zek-pages p.big-image, .zek-pages .big-responsive {
	padding-left: 0;
	padding-right: 0;
}

.zek-pages article p, .zek-pages article .embedly-responsive {
	margin-bottom: 40px;
}

.zek-pages article h1 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-top: 48px;
	font-size: 44px;
	line-height: 120%;
}

@media only screen and (max-width : 768px) {
	.zek-pages p {
		padding-left: 0px;
		padding-right: 0px;
	}
	.zek-pages p.no-image, .zek-pages h1, .zek-pages h2, .zek-pages h3, .zek-pages h4, .zek-pages h5, .zek-pages h6, .zek-pages ul, .zek-pages ol, .zek-pages table {
		max-width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.zek-pages p.no-image, .zek-pages .embedly-responsive {
		padding-left: 13px;
		padding-right: 13px;	
		font-size: 18px;
		line-height: 24px;
	}
	.zek-pages article p, .zek-pages article .embedly-responsive {
		margin-bottom: 20px;
	}
}

@media only screen and (min-width : 1023px) {
	.zek-pages p.no-image, .zek-pages h1, .zek-pages h2, .zek-pages h3, .zek-pages h4, .zek-pages h5, .zek-pages h6, .zek-pages ul, .zek-pages ol, .zek-pages table {
		max-width: 760px;
	}	
}

.zek-pages button.slick-arrow {
	position: absolute;
	top: 63px;
	z-index: 999;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-size: 24px 24px;
	border: 0;
	content: "";
	text-indent: -100em;
	background-color: transparent;
}

/* TODO: Change arrow graphics here */
.zek-pages button.slick-prev {
	left: 20px;
	background: url(/media/dsg/arrow-left.svg) no-repeat center center;
}
.zek-pages button.slick-next {
	right: 20px;
	background: url(/media/dsg/arrow-right.svg) no-repeat center center;
}


/* TODO: Change format sizes here */
.slick-slide {
	padding-right: 0px;
	padding-left: 0px;
	-webkit-overflow-scrolling: touch !important;
}
@media only screen and (min-width : 1701px) {
	.slick-slide {
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media only screen and (min-width : 2001px) {
	.slick-slide {
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media only screen and (min-width : 2200px) {
	.slick-slide {
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media only screen and (min-width : 2400px) {
	.slick-slide {
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media only screen and (max-width : 1700px) {
	.slick-slide {
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media only screen and (max-width : 1600px) {
	.slick-slide {
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media only screen and (max-width : 1200px) {
	.slick-slide {
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media only screen and (max-width : 768px) {
	.slick-slide {
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media only screen and (max-width : 768px) {
	.slick-slide {
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media only screen and (max-width : 480px) {
	.slick-slide {
		padding-right: 0px;
		padding-left: 0px;
	}
}

.slick-slider {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.slick-slide {
	pointer-events: none;
	opacity: .33;
}
.slick-current {
	pointer-events: auto;
	opacity: 1;
}
.slick-list.draggable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.grid-item div.wrap {
	position: relative;
	height: 100%;
	transition: background-color .4s;
}

div.grid-item span.title {
	display: block;
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: white;
	opacity: 0;
	pointer-events: none;
}

div.grid-item:hover div.wrap {
	background-color: rgba(32,32,32,.54);
	transition: background-color .1s;
}

div.grid-item:hover span.title {
	display: block;
	opacity: 1;
	transition: opacity .2s;
}
