@import url("/cms/_custom/custom.css");
table.pgui-grid > tbody > tr > td,
table.pgui-grid > thead > tr > th {
text-align: left;
}
span.cke_skin_BootstrapCK-Skin,
span.cke_skin_BootstrapCK-Skin:focus {
padding: 5px !important;
}
.toplogo {
height: 50px;
padding: 5px 0;
}
.error-container {
display: none;
}