@charset 'utf-8'
@import 'dependencies'

$bleak: #efefef
$silver: #9C9C9C
$metal: #333
$cox: rgb(60, 60, 60)
$koln: rgb(30, 30, 30)
$tricex: #3c3c3c

=roboto
	font-family: Roboto, sans-serif

=lato
	font-family: Lato, sans-serif

=source
	font-family: 'Source Sans Pro', sans-serif

// MARGINS //

+breakpoint(small)
	.margin-bottom
		margin-bottom: 1rem
	.margin-top
		margin-top: 1rem

+breakpoint(medium up)
	.margin-bottom
		margin-bottom: 2rem
	.margin-top
		margin-top: 2rem

// HEADER //

.anchored-nav
	box-shadow: 0 2px 50px rgba(0,0,0,0)
	border-bottom: 1px solid transparent
	.logo
		background: transparent
	img
		height: 27px

.stuck-nav
	box-shadow: 0 2px 50px rgba(0,0,0,0.1)
	border-bottom: 1px solid rgb(225,225,225)

	.logo
		background: white
	img
		height: 20px
		opacity: .66

a 
	text-decoration: underline

.body-text
	+source
	font-size: 1.16rem
	color: rgb(60,60,60)
	font-weight: 300
	color: $koln
	+breakpoint(xxlarge)
		font-size: 1.36rem

.padded-content
	+breakpoint(small)
		+grid-column(1 of 1)
	+breakpoint(medium up)
		+grid-column(7 of 12)
	float: none !important
	margin:
		left: auto
		right: auto

body.page
	header
		height: 49px

		nav
			transition: box-shadow .2s, border-bottom .2s
			.logo
				text-align: center
			img
				margin: 11px
				transition: height 0.4s, opacity 1.2s

		nav.is-anchored
			@extend .anchored-nav

		nav.is-stuck
			@extend .stuck-nav


// *** HOMEPAGE **** //

body.home
	background: white

	#page
		margin-top: 2rem
	
	header nav img
		height: 27px

	.welcome-message
		text-align: center
		margin:
			top: 0
			bottom: 2rem
		p
			+lato
			color: $tricex
			font-weight: 200
			font-size: 1.6rem

	.projects
		+grid-row

		+breakpoint(medium up)
			padding:
				left: 2rem
				right: 2rem

	.project
		+breakpoint(small)
			+grid-column(1 of 1)
		+breakpoint(medium)
			+grid-column(1 of 2)
		+breakpoint(large up)
			+grid-column(1 of 3)

		float: left !important

		padding:
			top: 0.5rem
			bottom: 0.5rem

		a
			position: relative
			display: block
			background: $metal

		.project-thumbnail
			background-size: cover
			background-position: center

		a
			.project-thumbnail
				transition: opacity .4s
				opacity: 1
			.title
				transition: opacity .2s
				opacity: 0
				
		a:hover
			.project-thumbnail
				transition: opacity .2s
				opacity: 0.33
			.title
				transition: opacity .4s
				opacity: 1

		.title
			+lato
			position: absolute
			text-align: center
			left: 50%
			top: 50%
			-webkit-transform: translate(-50%, -50%)
			transform: translate(-50%, -50%)
			font-size: 20px
			color: white

	.postscript
		+grid-row
		+breakpoint(small)
			padding-top: 1rem
		+breakpoint(medium up)
			padding-bottom: 3rem
		p
			@extend .body-text
			@extend .padded-content

// *** PROJECTS **** //

body.project

	#page
		margin-top: 0

	header nav
		@extend .stuck-nav

	header nav img
		height: 20px

	.prev-arrow, .next-arrow
		position: fixed
		display: block

		img
			opacity: 0.66

	+breakpoint(small)
		.prev-arrow
			padding-right: 10px
		.next-arrow
			padding-left: 10px

		.prev-arrow, .next-arrow
			top: 0.2rem
			z-index: 999
			padding:
				top: 4px
				bottom: 4px
			img
				height: 1rem

	+breakpoint(medium up)
		.prev-arrow, .next-arrow
			top: 5.6rem
			img
				height: 66%

	.prev-arrow
		left: 1rem
	.next-arrow
		right: 1rem
	
	h1
		+lato
		font-size: 2.2rem
		font-weight: 200
		color: $cox
		text-align: center
		margin:
			top: 2.1rem
			bottom: 1.5rem

	.description
		+source
		font-size: 0.95rem
		font-weight: 300
		color: $koln
		text-align: center
		margin:
			left: auto
			right: auto
		+breakpoint(small)
			padding:
				left: 1rem
				right: 1rem
		+breakpoint(medium up)
			+grid-column(10 of 12)
			float: none
		// +breakpoint(xxlarge)
		// 	font-size: 1.16rem

	.cover
		margin: 
			top: 2rem
			bottom: 3rem
		img

			width: 100%

	.contents, .related
		+grid-row

	.contents
		+breakpoint(medium up)
			padding:
				left: 3.4rem
				right: 3.4rem
	
	.expanded-contents
		width: 100%
		+breakpoint(medium up)
			padding:
				left: 0
				right: 0
	
	.video-contents
		background: $black
		margin-top: -1rem
		@extend .margin-bottom

	.contents

		h1, h2, h3, h4, h5, h6
			float: none

		h1, h2
			+grid-column(1 of 1)

		h3, h4, h5, h6
			+grid-column(7 of 12)
			margin: inherit auto

		h1, h2, h3, h4, h5, h6
			+lato
			text-align: center
			@extend .margin-top
			@extend .margin-bottom


		p, ul, ol, dl, table, blockquote, .responsive-image
			@extend .margin-bottom

		.spacer
			+breakpoint(small)
				padding-top: 1rem
			+breakpoint(medium up)
				padding-top: 3rem

		p, ul, ol, dl, table, blockquote
			@extend .body-text
		p
			float: none !important
			margin:
				left: auto
				right: auto

			img
				width: 100%

		.imgix-fluid
			background-color: $bleak
		img.imgix-fluid
			width: 100%

		.responsive-image
			+grid-column(1 of 1)
			float: none

		.small-img
			+breakpoint(small)
				+grid-column(9 of 12)
			+breakpoint(medium up)
				+grid-column(7 of 12)

		p.no-img, .small-img
			@extend .padded-content
		
		p.no-img+p.no-img
			+breakpoint(medium up)
				margin-top: -1rem

		.youtube, .vimeo
			text-align: center
			+grid-row
			iframe
				@extend .padded-content

		p.cta
			text-align: center
			a
				font-size: 24px
				font-weight: 400

		p.label
			text-align: center
			margin-top: -1rem

		p.embed
			@extend .padded-content

			iframe, video
				width: 100%

	.share
		+grid-row
		margin-bottom: 6rem

		.name, .date
			+grid-column(1 of 1)
		.fb, .tw, .tu
			+grid-column(1 of 3)
		.date
			text-align: center
		.fb
			text-align: right
		.tw
			text-align: center
		.tu
			text-align: left

	.related
		@extend .margin-top
		position: relative
		background: $bleak
		+breakpoint(medium up)
			height: 80vh

		.clearance
			height: 43px
			background: $white
		a
			+lato
			text-decoration: none
			
			.img
				background-color: $metal
				.imgix-fluid
					transition: opacity .2s

			.title
				overflow: hidden
				transition: opacity .5s, color .5s

		a
			.img
				.imgix-fluid
					opacity: 1
					transition: opacity .2s
			.title
				.name
					color: $black

		a:hover
			.img
				.imgix-fluid
					opacity: 0.33
					transition: opacity .4s
			.title
				.name
					color: $metal
		

		.prev-thumb, .next-thumb
			+grid-column(1 of 2)
			
			a, .title, .name, .meta
				display: block

			.title
				padding-top: 2.5rem

			.meta
				font-size: 1rem
				line-height: 1.4
				@media (orientation: landscape) and (max-width: 640px)
					display: none

			.name
				line-height: 1.2
				margin-bottom: 2rem 
				+breakpoint(small)
					font-size: 1.5rem
				+breakpoint(medium up)
					font-size: 2rem

		.prev-thumb
			padding-left: 0
			+breakpoint(small)
				padding-right: 0.5rem
			+breakpoint(medium up)
				padding-right: 1rem
			a
				text-align: left
			.title
				+breakpoint(small)
					margin-left: 1rem
				+breakpoint(medium up)
					margin-left: 6rem

		.next-thumb
			padding-right: 0
			+breakpoint(small)
				padding-left: 0.5rem
			+breakpoint(medium up)
				padding-left: 1rem
			a
				text-align: right
			.title
				+breakpoint(small)
					margin-right: 1rem
				+breakpoint(medium up)
					margin-right: 6rem
				

// *** MISC &&& //

footer
	position: relative
	+grid-row
	+breakpoint(small)
		height: 4rem
	+breakpoint(medium up)
		height: 20vh

	.links
		+grid-column(1 of 1)
		text-align: center

		a
			display: inline-block
			line-height: 2rem
			width: 2rem
			height: 2rem
			background-position: center center
			background-repeat: no-repeat
			background-size: cover
			-webkit-transform: translateY(-50%)
			transform: translateY(-50%)
			+breakpoint(small)
				margin-top: 2rem
			+breakpoint(medium up)
				margin-top: 10vh

			span
				display: none

	a.fb
		background-image: url(/assets/footer-facebook.svg)
	a.email
		background-image: url(/assets/footer-mail.svg)
		margin-left: 4rem
		margin-right: 4rem
	a.instagram
		margin-left: 0.3rem
		background-image: url(/assets/footer-instagram.svg)
		
