@charset 'utf-8'
@import 'dependencies'

$silver: #9C9C9C
$metal: #333
$cox: rgb(60, 60, 60)
$koln: rgb(30, 30, 30)
$tricex: #3c3c3c

=roboto
	font-family: Roboto, sans-serif

=lato
	font-family: Lato, sans-serif

=source
	font-family: 'Source Sans Pro', sans-serif

// HEADER //

body.page
	header
		height: 49px

		nav
			.logo
				text-align: center
			img
				margin: 11px
				transition: height 0.4s, opacity 1.2s

		nav.is-anchored
			.logo
				background: transparent
			img
				height: 27px

		nav.is-stuck
			box-shadow: 0 2px 50px rgba(0,0,0,0.1)
			border-bottom: 1px solid rgb(225,225,225)

			.logo
				background: white
			img
				height: 20px
				opacity: .66


// *** HOMEPAGE **** //

body.home
	background: white

	#page
		margin-top: 2rem
	
	header nav img
		height: 27px

	.welcome-message
		text-align: center
		margin:
			top: 0
			bottom: 2rem
		p
			+lato
			color: $tricex
			font-weight: 200
			font-size: 1.6rem

	.projects
		+grid-row

		padding:
			left: 0.5rem
			right: 0.5rem

		+breakpoint(medium up)
			padding:
				left: 2rem
				right: 2rem

	.project
		+breakpoint(small)
			+grid-column(1 of 1)
		+breakpoint(medium)
			+grid-column(1 of 2)
		+breakpoint(large up)
			+grid-column(1 of 3)

		float: left !important

		padding:
			top: 0.5rem
			bottom: 0.5rem

		a
			position: relative
			display: block
			background: $metal

		.project-thumbnail
			background-size: cover
			background-position: center

		a
			.project-thumbnail
				-webkit-transition: opacity .2s
				transition: opacity .2s
				opacity: 1
			.title
				-webkit-transition: opacity 1s
				transition: opacity 1s
				opacity: 0
		a:hover
			.project-thumbnail
				-webkit-transition: opacity 1s
				transition: opacity 1s
				opacity: 0.33
			.title
				-webkit-transition: opacity .2s
				transition: opacity .2s
				opacity: 1

		.title
			+lato
			position: absolute
			text-align: center
			left: 50%
			top: 50%
			-webkit-transform: translate(-50%, -50%)
			transform: translate(-50%, -50%)
			font-size: 20px
			color: white

// *** PROJECTS **** //

body.project

	#page
		margin-top: 0

	header nav img
		height: 20px

	.prev-arrow, .next-arrow
		position: fixed
		top: 5.6rem

		img
			opacity: 0.66
			height: 66%

	.prev-arrow
		left: 1rem
	.next-arrow
		right: 1rem
	
	h1
		+lato
		font-size: 2.2rem
		font-weight: 200
		color: $cox
		text-align: center
		margin:
			top: 2.1rem
			bottom: 1.5rem

	.description
		+source
		font-size: 0.97rem
		font-weight: 300
		color: $koln
		text-align: center
		max-width: 42rem
		margin:
			left: auto
			right: auto
	.cover
		margin: 
			top: 2rem
			bottom: 2rem
		img

			width: 100%

	.contents, .related
		+grid-row
		+breakpoint(medium up)
			padding:
				left: 3.4rem
				right: 3.4rem
	
	.contents

		h1, h2, h3, h4, h5, h6, p, .youtube
			+grid-column(1 of 1)
			float: none

		h1, h2, h3, h4, h5, h6
			+lato
			text-align: center
			margin-top: 2rem
			margin-bottom: 2rem

		.youtube
			text-align: center
			margin-bottom: 2rem

		.spacer
			padding-top: 3rem

		p, ul, ol, dl, table, blockquote
			+source
			font-size: 1.16rem
			color: rgb(60,60,60)

		p
			font-weight: 300
			color: $koln
			margin-bottom: 2rem
			float: none
			margin:
				left: auto
				right: auto

			img
				width: 100%

		p.imgix-fluid
			background-color: #efefef

		p.no-img
			max-width: 35rem

		p.cta
			text-align: center
			a
				font-size: 24px
				font-weight: 400

	.related
		.links
			+lato
			text-align: center
			+grid-column(1 of 1)
		.back, .next
			+source
			+grid-column(6 of 12)
		.back
			text-align: right
		.next
			text-align: left

// *** MISC &&& //

footer
	display: none